streamlit
pandas
numpy
ipykernel
scikit-learn
xgboost
lightgbm
earthengine-api
google-generativeai
requests
geopy
plotly
matplotlib
seaborn
joblib
python-dotenv
pyOpenSSL
google-auth
google-auth-oauthlib
geemap
jupyter
notebook
scipy
pillow
flask
flask-cors
python-dateutil
pytz
geopandas
rasterio
shapely
folium
tensorboard
tensorflow
torch
pypdf
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
transformers
huggingface-hub
streamlit-folium